.UserAccount {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    color: inherit;
    text-decoration: none;

    position: relative;
    padding: 12px 15px 12px 25px;

    min-width: 134px;

    &--active {
        background-color: hsla(221, 48%, 45%, 1);
    }

    &__UserName {
        font-size: .9rem;
        line-height: 1em;

        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;

        @media (max-width: 450px) {
            display: none;
        }
    }
    &__UserPic {
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: left top;
        width: 24px;
        height: 24px;

        background-image: url(/content/spa/images/icons/account.png);

        @media (-webkit-min-device-pixel-ratio: 2),
               (min--moz-device-pixel-ratio: 2),
               (min-resolution: 2dppx),
               (min-resolution: 192dpi) {
            background-image: url(/content/spa/images/icons/account@2x.png);
        }

        margin-left: 11px;
    }

    &__Chevron {
        background-repeat: no-repeat;
        background-size: 17px;
        background-position: left top;
        width: 17px;
        height: 17px;

        background-image: url(/content/spa/images/icons/ic_expand_more_white_24dp_1x.png);

        @media (-webkit-min-device-pixel-ratio: 2),
               (min--moz-device-pixel-ratio: 2),
               (min-resolution: 2dppx),
               (min-resolution: 192dpi) {
            background-image: url(/content/spa/images/icons/ic_expand_more_white_24dp_2x.png);
        }

        margin-left: 5px;
        opacity: .8;

        &--active {
            transform: rotate(180deg);
        }
    }
}

.UserAccountBody {
    position: absolute;
    top: 100%;
    right: 0;

    display: flex;
    flex-direction: column;

    margin: 1px 0 0 0;
    width: 100%;

    &__Inner {
        background-color: #3a4b5d;
        border: 1px solid #132028;
        border-top: none;
    }

    &__AccountLink,
    &__LogoutLink {
        white-space: nowrap;

        color: #fff;
        text-decoration: none;
        padding: 15px 13px 15px 0;

        font-size: 1rem;
        line-height: 1em;

        display: flex;
        justify-content: flex-end;

        border-bottom: 1px solid #13222b;

        &:last-child {
            border-bottom: none;
        }
        &:hover {
            background-color: hsla(221, 48%, 45%, 1);
        }
    }
}

.ChevronRight {
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: left top;
    width: 17px;
    height: 17px;

    background-image: url(/content/spa/images/icons/ic_chevron_right_white_24dp_1x.png);

    @media (-webkit-min-device-pixel-ratio: 2),
           (min--moz-device-pixel-ratio: 2),
           (min-resolution: 2dppx),
           (min-resolution: 192dpi) {
        background-image: url(/content/spa/images/icons/ic_chevron_right_white_24dp_2x.png);
    }

    margin-left: 5px;
}