.Header {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1em;

    justify-content: space-between;
    align-items: center;

    background-color: rgba(19, 32, 40, 0.85);
    border-bottom: 1px solid #132028;
    color: #fff;

    position: fixed;
    z-index: 99;
    width: 100%;

    display: flex;

    &__Logo {
        text-decoration: none;
        margin: 0 25px 0 40px;
        white-space: nowrap;

        @media (max-width: 600px) {
            margin-left: 0;
            margin-right: 0;
        }

        &__Icon {
            display: inline-block;
            width: 32px;
            height: 32px;
            margin: 0 10px 0 12px;

            vertical-align: middle;

            background-repeat: no-repeat;
            background-size: 32px;
            background-image: url(/content/spa/images/logo/W2_32kh32.png);

            @media (-webkit-min-device-pixel-ratio: 2),
                   (min--moz-device-pixel-ratio: 2),
                   (min-resolution: 2dppx),
                   (min-resolution: 192dpi) {
                background-image: url(/content/spa/images/logo/W2_32kh32@2x.png);
            }
        }
        &__Title {
            display: inline-block;
            vertical-align: middle;
            font-size: 1.54rem;
            color: #fff;
            font-weight: 400;
            letter-spacing: 1px;
        }
    }

    &__Nav {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &.is-active {
            @media (max-width: 986px) {
                right: 0;
                opacity: 1;
                transition: right 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 600ms cubic-bezier(0.23, 1, 0.32, 1);
            }
        }

        @media (max-width: 986px) {
            display: block;
            width: auto;

            position: fixed;
            top: 0;
            bottom: 0;
            background: rgba(24, 37, 47, 0.98);
            border-left: 1px solid hsla(206, 32%, 11%, 1);
            padding: 11px 9px 9px 9px;
            margin: 0;
            z-index: 3;

            min-width: 230px;

            right: -500px;
            opacity: 0;

            transition: right 250ms cubic-bezier(0.755, 0.05, 0.855, 0.06), opacity 500ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
        }

        &__LogoBox {
            margin-bottom: 9px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.16);

            align-items: center;
            justify-content: space-between;

            padding: 12px 0 20px 14px;

            display: none;
            @media (max-width: 986px) {
                display: flex;
            }

            &__Logo {

                &__Title {
                    display: block;
                    vertical-align: middle;
                    font-size: 1.54rem;
                    line-height: 1em;
                    color: #fff;
                    font-weight: 400;
                    letter-spacing: 1px;
                }
            }

            &__LanguageSwitcher {
                vertical-align: middle;
                padding: 10px;
                cursor: pointer;
                font-size: 1rem;
                line-height: 1em;
            }
        }

        &__DrawerBox {
            flex: 1;

            display: flex;
            align-items: center;
            justify-content: flex-end;

            &__Curtain {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;

                background-color: rgba(0, 0, 0, 0.56);

                display: none;

                &.is-active {
                    display: block;
                }

                @media (min-width: 986px) {
                    display: none !important;
                }
            }
            &__Account {
                @media (min-width: 986px) {
                    display: none;
                }
            }
            &__Burger {
                position: relative;
                z-index: 2;

                background-repeat: no-repeat;
                background-size: 24px;
                background-position: 50%;
                width: 48px;
                height: 48px;

                cursor: pointer;

                background-image: url(/content/spa/images/icons/ic_menu_white_24dp_1x.png);

                @media (-webkit-min-device-pixel-ratio: 2),
                       (min--moz-device-pixel-ratio: 2),
                       (min-resolution: 2dppx),
                       (min-resolution: 192dpi) {
                    background-image: url(/content/spa/images/icons/ic_menu_white_24dp_2x.png);
                }

                display: none;
                @media (max-width: 986px) {
                    display: block;
                }
            }
        }

        &__List {
            margin: 0;
            padding: 0;
            list-style: none;

            display: inline-block;
            vertical-align: middle;

            @media (max-width: 986px) {
                display: block;
            }

            &__Item {
                display: inline-block;
                padding: 0 18px;

                @media (max-width: 986px) {
                    display: block;
                }

                &.extra {
                    display: none;
                    @media (max-width: 986px) {
                        display: block;
                    }
                }

                &.border-top {
                    border-top: 1px solid rgba(255, 255, 255, 0.16);
                    margin-top: 15px;
                    padding-top: 24px;
                }

                &__Link {
                    text-decoration: none;
                    color: inherit;
                    font-size: .9rem;
                    line-height: 1em;

                    @media (max-width: 986px) {
                        font-size: 1rem;
                        display: block;
                        padding: 12px 0;
                    }

                    transition: color .2s;

                    &:hover {
                        color: #badfff;
                    }
                }
            }
        }

        &__Right {
            display: flex;
            align-items: center;
            justify-content: center;

            margin: 0 10px 0 0;

            @media (max-width: 986px) {
                display: none;
            }

            &__LanguageSwitcher {
                display: inline-block;
                vertical-align: middle;
                padding: 17px;
                cursor: pointer;
                font-size: .9rem;
                line-height: 1em;
            }

            &__Login {}
        }

        &__AuthLink {}
    }
}
