.AboutComponent {
    padding-top: 96px;
    position: relative;

    &__Nav {
        position: absolute;
        left: 0;
        top: 53px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.84);

        margin: 0;
        padding: 14px 0;
        list-style: none;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #a6a8a9;

        &__Item {
            padding: 0 20px;
            font-size: .9rem;
            line-height: 1em;

            @media (max-width: 550px) {
                padding: 0 10px;
            }

            @media (max-width: 440px) {
                padding: 0 5px;
            }

            &__Link {
                color: inherit;
                text-decoration: none;
                border-bottom: 1px solid #ccc;
            }
        }
    }
}