html {
  background-color: #18252f;
}
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selectable-text {
  -moz-user-select: text;
  -webkit-user-select: text;
  -o-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.App {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1em;
  font-weight: 400;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.AboutComponent {
  padding-top: 96px;
  position: relative;
}
.AboutComponent__Nav {
  position: absolute;
  left: 0;
  top: 53px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.84);
  margin: 0;
  padding: 14px 0;
  list-style: none;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #a6a8a9;
}
.AboutComponent__Nav__Item {
  padding: 0 20px;
  font-size: .9rem;
  line-height: 1em;
}
@media (max-width: 550px) {
  .AboutComponent__Nav__Item {
    padding: 0 10px;
  }
}
@media (max-width: 440px) {
  .AboutComponent__Nav__Item {
    padding: 0 5px;
  }
}
.AboutComponent__Nav__Item__Link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

.ContactForm {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.ContactForm__Title {
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1em;
  color: #3e617a;
}
.ContactForm__Input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: .9rem;
  line-height: 1em;
  font-family: 'Open Sans', sans-serif;
}
.ContactForm__TopicLabel {
  width: 100%;
  display: inline-block;
  padding: 10px 0 11px 0;
  font-size: 1rem;
  line-height: 1em;
  color: #5c5c5c;
}
.ContactForm__Select {
  height: 50px;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: .9rem;
  line-height: 1em;
}
.ContactForm__Textarea {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: .9rem;
  line-height: 1em;
  resize: vertical;
}
.ContactForm__Button {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  transition: all 0.3 ease;
  cursor: pointer;
  font-size: .9rem;
  line-height: 1em;
  transition: background .2s;
}
.ContactForm__Button:hover,
.ContactForm__Button:active,
.ContactForm__Button:focus {
  background: #43A047;
}
.ContactForm__Successfully {
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: .8rem;
  line-height: 1.4em;
  color: #4CAF50;
}
.ContactForm__Error {
  text-transform: uppercase;
  outline: 0;
  background: #af4c4c;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: .9rem;
  line-height: 1em;
  transition: all 0.3 ease;
  transition: background .2s;
}

.ContactsComponent {
  padding-top: 49px;
}
@media (max-width: 600px) {
  .ContactsComponent {
    padding-top: 49px;
  }
}
.ContactsComponent__Box {
  padding: 0 0 15px 0;
  text-align: center;
}
.ContactsComponent__Box__Body {
  display: inline-block;
  font-size: 1rem;
  line-height: 1em;
  text-align: justify;
  max-width: 700px;
}
.ContactsComponent__Box__Body__Title {
  font-size: 2rem;
  line-height: 1.5em;
  margin: 0;
  padding: 12px 0;
  color: #ffffff;
  background-color: #4caf50;
}
.ContactsComponent__Box__Body__List {
  padding: 0;
  list-style: none;
  width: 217px;
  margin: 40px auto 50px auto;
  display: flex;
  flex-flow: column wrap;
  max-height: 100px;
  align-content: center;
}
.ContactsComponent__Box__Body__List__Item {
  text-align: left;
  padding: 7px 20px;
  color: #18252f;
}
.ContactsComponent__Box__Body__List__Item__Icon {
  padding-right: 12px;
  width: 15px;
  color: #2485c9;
  vertical-align: middle;
}
.ContactsComponent__Box__Body__List__Item__Link {
  color: inherit;
  text-decoration: none;
}

.Footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1em;
  background-color: #18252f;
  border-top: 5px solid #3e617a;
}
.Footer__Blocks {
  text-align: center;
  color: #fff;
  padding: 32px 0 72px 0;
}
@media (max-width: 1024px) {
  .Footer__Blocks {
    padding-top: 0;
  }
}
.Footer__Blocks__Block {
  display: inline-block;
  vertical-align: text-top;
  padding: 0 30px;
  text-align: left;
  min-width: 150px;
  margin: 50px 0 0 0;
}
@media (max-width: 1024px) {
  .Footer__Blocks__Block {
    min-width: 270px;
    padding: 0 60px;
  }
}
@media (max-width: 989px) {
  .Footer__Blocks__Block {
    padding: 0 30px;
  }
}
@media (max-width: 660px) {
  .Footer__Blocks__Block {
    display: block;
    width: auto;
    text-align: center;
  }
}
.Footer__Blocks__Block__Title {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1em;
  color: #fff;
  margin: 0 0 17px 0px;
  border-bottom: 1px solid #2e363d;
  padding-bottom: 15px;
}
.Footer__Blocks__Block__List {
  margin: 0;
  padding: 0;
  list-style: none;
}
.Footer__Blocks__Block__List__Item {
  font-weight: 200;
  font-size: .9rem;
  line-height: 1em;
  margin: 10px 0;
  color: #eeeeee;
}
.Footer__Blocks__Block__List__Item__Icon {
  padding: 10px;
  font-size: 1.2rem;
  line-height: 1em;
  color: #2485c9;
  vertical-align: middle;
}
.Footer__Blocks__Block__List__Item__Link {
  color: inherit;
  text-decoration: none;
  margin: 0 9px;
}
.Footer__Blocks__Block__Link {
  color: inherit;
  text-decoration: none;
  transition: color .2s;
}
.Footer__Blocks__Block__Link:hover {
  color: #badfff;
}
.Footer__License {
  margin: 0;
  padding: 10px 0 55px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 1.4em;
  font-weight: 100;
  letter-spacing: .3px;
}
@media (max-width: 660px) {
  .Footer__License {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.Header {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1em;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(19, 32, 40, 0.85);
  border-bottom: 1px solid #132028;
  color: #fff;
  position: fixed;
  z-index: 99;
  width: 100%;
  display: flex;
}
.Header__Logo {
  text-decoration: none;
  margin: 0 25px 0 40px;
  white-space: nowrap;
}
@media (max-width: 600px) {
  .Header__Logo {
    margin-left: 0;
    margin-right: 0;
  }
}
.Header__Logo__Icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 10px 0 12px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 32px;
  background-image: url(/content/spa/images/logo/W2_32kh32.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .Header__Logo__Icon {
    background-image: url(/content/spa/images/logo/W2_32kh32@2x.png);
  }
}
.Header__Logo__Title {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.54rem;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
}
.Header__Nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 986px) {
  .Header__Nav.is-active {
    right: 0;
    opacity: 1;
    transition: right 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 600ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}
@media (max-width: 986px) {
  .Header__Nav {
    display: block;
    width: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    background: rgba(24, 37, 47, 0.98);
    border-left: 1px solid #131d25;
    padding: 11px 9px 9px 9px;
    margin: 0;
    z-index: 3;
    min-width: 230px;
    right: -500px;
    opacity: 0;
    transition: right 250ms cubic-bezier(0.755, 0.05, 0.855, 0.06), opacity 500ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
}
.Header__Nav__LogoBox {
  margin-bottom: 9px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  align-items: center;
  justify-content: space-between;
  padding: 12px 0 20px 14px;
  display: none;
}
@media (max-width: 986px) {
  .Header__Nav__LogoBox {
    display: flex;
  }
}
.Header__Nav__LogoBox__Logo__Title {
  display: block;
  vertical-align: middle;
  font-size: 1.54rem;
  line-height: 1em;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
}
.Header__Nav__LogoBox__LanguageSwitcher {
  vertical-align: middle;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1em;
}
.Header__Nav__DrawerBox {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.Header__Nav__DrawerBox__Curtain {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.56);
  display: none;
}
.Header__Nav__DrawerBox__Curtain.is-active {
  display: block;
}
@media (min-width: 986px) {
  .Header__Nav__DrawerBox__Curtain {
    display: none !important;
  }
}
@media (min-width: 986px) {
  .Header__Nav__DrawerBox__Account {
    display: none;
  }
}
.Header__Nav__DrawerBox__Burger {
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 50%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-image: url(/content/spa/images/icons/ic_menu_white_24dp_1x.png);
  display: none;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .Header__Nav__DrawerBox__Burger {
    background-image: url(/content/spa/images/icons/ic_menu_white_24dp_2x.png);
  }
}
@media (max-width: 986px) {
  .Header__Nav__DrawerBox__Burger {
    display: block;
  }
}
.Header__Nav__List {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 986px) {
  .Header__Nav__List {
    display: block;
  }
}
.Header__Nav__List__Item {
  display: inline-block;
  padding: 0 18px;
}
@media (max-width: 986px) {
  .Header__Nav__List__Item {
    display: block;
  }
}
.Header__Nav__List__Item.extra {
  display: none;
}
@media (max-width: 986px) {
  .Header__Nav__List__Item.extra {
    display: block;
  }
}
.Header__Nav__List__Item.border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.16);
  margin-top: 15px;
  padding-top: 24px;
}
.Header__Nav__List__Item__Link {
  text-decoration: none;
  color: inherit;
  font-size: .9rem;
  line-height: 1em;
  transition: color .2s;
}
@media (max-width: 986px) {
  .Header__Nav__List__Item__Link {
    font-size: 1rem;
    display: block;
    padding: 12px 0;
  }
}
.Header__Nav__List__Item__Link:hover {
  color: #badfff;
}
.Header__Nav__Right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 0;
}
@media (max-width: 986px) {
  .Header__Nav__Right {
    display: none;
  }
}
.Header__Nav__Right__LanguageSwitcher {
  display: inline-block;
  vertical-align: middle;
  padding: 17px;
  cursor: pointer;
  font-size: .9rem;
  line-height: 1em;
}

.FeedbackForm {
  position: relative;
  z-index: 1;
  text-align: center;
}
.FeedbackForm__Form {
  padding: 0 0 30px 0;
}
.FeedbackForm__Form.active {
  display: block;
}
.FeedbackForm__Form.inactive {
  display: none;
}
.FeedbackForm__Title {
  margin: 20px 0 30px 0;
  padding: 0;
}
.FeedbackForm__Title__Inner {
  font-size: 1.2rem;
  line-height: 1em;
  color: #3e617a;
}
.FeedbackForm__Title__Inner.asButton {
  display: inline-block;
  padding: 10px 12px 12px 12px;
  background-color: #59af50;
  color: #fff;
  font-size: .9rem;
  line-height: 1em;
  text-transform: uppercase;
  cursor: pointer;
}
.FeedbackForm__Input {
  outline: 0;
  background: #fff;
  width: 100%;
  border: 1px solid #eaeaea;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: .9rem;
  line-height: 1em;
}
.FeedbackForm__TopicLabel {
  width: 100%;
  display: inline-block;
  padding: 10px 0 11px 0;
  font-size: 1rem;
  line-height: 1em;
  color: #5c5c5c;
}
.FeedbackForm__Select {
  height: 40px;
  outline: 0;
  background: #fff;
  width: 100%;
  border: 1px solid #eaeaea;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: .9rem;
  line-height: 1em;
}
.FeedbackForm__Textarea {
  outline: 0;
  background: #fff;
  width: 100%;
  border: 1px solid #eaeaea;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: .9rem;
  line-height: 1em;
  resize: vertical;
}
.FeedbackForm__Button {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  transition: all 0.3 ease;
  cursor: pointer;
  font-size: .9rem;
  line-height: 1em;
  transition: background .2s;
}
.FeedbackForm__Button:hover,
.FeedbackForm__Button:active,
.FeedbackForm__Button:focus {
  background: #43A047;
}
.FeedbackForm__Successfully {
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: .8rem;
  line-height: 1.4em;
  color: #4CAF50;
}
.FeedbackForm__Error {
  text-transform: uppercase;
  outline: 0;
  background: #af4c4c;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: .9rem;
  line-height: 1em;
  transition: all 0.3 ease;
  transition: background .2s;
}

.RequestForm {
  position: relative;
  z-index: 1;
  text-align: center;
}
.RequestForm__Form {
  padding: 0 0 30px 0;
}
.RequestForm__Form.active {
  display: block;
}
.RequestForm__Form.inactive {
  display: none;
}
.RequestForm__Title {
  margin: 20px 0 30px 0;
  padding: 0;
}
.RequestForm__Title__Inner {
  font-size: 1.2rem;
  line-height: 1em;
  color: #3e617a;
}
.RequestForm__Title__Inner.asButton {
  display: inline-block;
  padding: 10px 12px 12px 12px;
  background-color: #59af50;
  color: #fff;
  font-size: .9rem;
  line-height: 1em;
  text-transform: uppercase;
  cursor: pointer;
}
.RequestForm__Input {
  outline: 0;
  background: #fff;
  width: 100%;
  border: 1px solid #eaeaea;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: .9rem;
  line-height: 1em;
}
.RequestForm__TopicLabel {
  width: 100%;
  display: inline-block;
  padding: 10px 0 11px 0;
  font-size: 1rem;
  line-height: 1em;
  color: #5c5c5c;
}
.RequestForm__Select {
  height: 50px;
  outline: 0;
  background: #fff;
  width: 100%;
  border: 1px solid #eaeaea;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: .9rem;
  line-height: 1em;
}
.RequestForm__Textarea {
  outline: 0;
  background: #fff;
  width: 100%;
  border: 1px solid #eaeaea;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: .9rem;
  line-height: 1em;
  resize: vertical;
}
.RequestForm__Button {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  transition: all 0.3 ease;
  cursor: pointer;
  font-size: .9rem;
  line-height: 1em;
  transition: background .2s;
}
.RequestForm__Button:hover,
.RequestForm__Button:active,
.RequestForm__Button:focus {
  background: #43A047;
}
.RequestForm__Successfully {
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: .8rem;
  line-height: 1.4em;
  color: #4CAF50;
}
.RequestForm__Error {
  text-transform: uppercase;
  outline: 0;
  background: #af4c4c;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: .9rem;
  line-height: 1em;
  transition: all 0.3 ease;
  transition: background .2s;
}

.LinesOfBusiness {
  padding: 55px 0 60px 0;
}
@media (max-width: 701px) {
  .LinesOfBusiness {
    padding: 15px 0 0 0;
  }
}
.LinesOfBusiness__Lines {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  max-width: 1228px;
  margin: 0 auto;
}
@media (max-width: 841px) {
  .LinesOfBusiness__Lines {
    flex-wrap: wrap;
  }
}
@media (max-width: 701px) {
  .LinesOfBusiness__Lines {
    flex-direction: column;
    padding: 0 0 60px 0;
    align-items: center;
  }
}
.LinesOfBusiness__Lines__Line {
  text-align: center;
  padding: 30px 30px 20px 30px;
  max-width: 370px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
}
@media (max-width: 701px) {
  .LinesOfBusiness__Lines__Line {
    max-width: 400px;
    margin: 20px 0;
  }
}
.LinesOfBusiness__Lines__Line__Title {
  font-size: 1.8rem;
  line-height: 1.3em;
  padding: 20px 0;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.LinesOfBusiness__Lines__Line__SubTitle {
  font-size: .9rem;
  line-height: 1.1em;
  padding: 0 0 30px 0;
  max-width: 90%;
  margin: auto;
  color: #666;
}
.LinesOfBusiness__Lines__Line__Description {
  color: #2c2c2c;
  font-size: 1rem;
  line-height: 1.5em;
  text-align: justify;
  margin: 17px 0 40px 0;
}
.LinesOfBusiness__Lines__Line__Description:first-letter {
  text-transform: capitalize;
}
.LinesOfBusiness__Lines__Line__More {
  white-space: nowrap;
  padding: 0 0 0 6px;
  text-transform: lowercase;
  color: #33538e;
}

.LoginComponent {
  background: #f3f3f3;
  padding-top: 49px;
  position: relative;
  overflow: hidden;
  background-image: url(/content/spa/images/splashes/stars1440.jpg);
}
.LoginComponent__Page {
  width: 360px;
  padding: 4% 0;
  margin: auto;
}
.LoginComponent__Page__Form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.LoginComponent__Page__Form__Input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: .9rem;
  line-height: 1em;
}
.LoginComponent__Page__Form__Label {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: .9rem;
  line-height: 1em;
  margin: 10px 0 20px 0;
}
.LoginComponent__Page__Form__Label__Text {
  white-space: nowrap;
}
.LoginComponent__Page__Form__Label__Input {
  margin: 0 10px 0 0;
}
.LoginComponent__Page__Form__Button {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: .9rem;
  line-height: 1em;
  transition: all 0.3 ease;
  cursor: pointer;
  transition: background .2s;
}
.LoginComponent__Page__Form__Button:hover,
.LoginComponent__Page__Form__Button:active,
.LoginComponent__Page__Form__Button:focus {
  background: #43A047;
}
.LoginComponent__Page__Form__Error {
  text-transform: uppercase;
  outline: 0;
  background: #af4c4c;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: .9rem;
  line-height: 1em;
  transition: all 0.3 ease;
  transition: background .2s;
}
.LoginComponent__Page__Form__Register {
  display: inline-block;
  margin: 27px 0 0 0;
  color: inherit;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #888;
}

.Partners__List {
  margin: 100px auto 0 auto;
  padding: 0 50px 0 100px;
  list-style: none;
  max-width: 1000px;
}
.Partners__List__Item {
  margin: 38px 0 0 0;
}
.Partners__List__Item__Inner {
  font-size: 1.7rem;
  line-height: 1.2em;
  font-weight: 100;
  color: #314a5e;
  position: relative;
}
.Partners__List__Item__Inner:before {
  content: '';
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -49px;
  top: 7px;
  background-image: url(/content/spa/images/icons/ic_done_black_24dp_1x.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .Partners__List__Item__Inner:before {
    background-image: url(/content/spa/images/icons/ic_done_black_24dp_2x.png);
  }
}
.Partners__ButtonBox {
  text-align: center;
  padding: 76px 0 81px 0;
}
.Partners__ButtonBox__Button {
  text-decoration: none;
  font-size: 1.2em;
  line-height: 1em;
  text-transform: none;
  padding: 5px 13px 8px 12px;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 4px;
  font-weight: 400;
  border: 1px solid #3ba059;
  transition: background-color 0.2s;
  cursor: pointer;
  display: inline-block;
  margin: 20px 0;
  text-transform: uppercase;
}

.QuestionBox {
  text-align: center;
  margin: 0;
  padding: 65px 20px 0 20px;
}
.QuestionBox__Message {
  font-size: 1.6rem;
  line-height: 1.3em;
}
.QuestionBox__Button {
  text-decoration: none;
  font-size: 1.2em;
  line-height: 1em;
  text-transform: none;
  padding: 5px 13px 8px 12px;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 4px;
  font-weight: 400;
  border: 1px solid #3ba059;
  transition: background-color 0.2s;
  cursor: pointer;
  display: inline-block;
  margin: 20px 0;
  text-transform: uppercase;
}

.RegisterComponent {
  background: #f3f3f3;
  padding-top: 49px;
  position: relative;
  overflow: hidden;
  background-image: url(/content/spa/images/splashes/stars1440.jpg);
}
.RegisterComponent__Page {
  width: 360px;
  padding: 4% 0;
  margin: auto;
}
.RegisterComponent__Page__Form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.RegisterComponent__Page__Form__Input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: .9rem;
  line-height: 1em;
}
.RegisterComponent__Page__Form__Button {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: .9rem;
  line-height: 1em;
  transition: all 0.3 ease;
  cursor: pointer;
  transition: background .2s;
}
.RegisterComponent__Page__Form__Error {
  text-transform: uppercase;
  outline: 0;
  background: #af4c4c;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: .9rem;
  line-height: 1em;
  transition: all 0.3 ease;
  transition: background .2s;
}
.RegisterComponent__Page__Form__Button:hover,
.RegisterComponent__Page__Form__Button:active,
.RegisterComponent__Page__Form__Button:focus {
  background: #43A047;
}

.ResearchComponent {
  padding-top: 49px;
}
.ResearchComponent__Title {
  font-size: 2rem;
  line-height: 1.5em;
  text-align: center;
  background-color: #62c671;
  color: #fff;
  padding: 12px 0;
}
.ResearchComponent__Intro {
  font-size: 1rem;
  line-height: 1.5em;
  max-width: 700px;
  padding: 0 100px 0 100px;
  margin: 40px auto 0 auto;
  text-align: justify;
}
@media (max-width: 600px) {
  .ResearchComponent__Intro {
    padding: 0 20px 0 20px;
  }
}
.ResearchComponent__Intro.Big {
  font-size: 1.5rem;
  line-height: 1.5em;
}
.ResearchComponent__Intro.Center {
  text-align: center;
}
.ResearchComponent__ListBox__List {
  padding: 20px 50px 0 50px;
  list-style: none;
  margin: 0;
}
@media (max-width: 600px) {
  .ResearchComponent__ListBox__List {
    padding: 0 20px 0px 20px;
  }
}
.ResearchComponent__ListBox__List__Item {
  padding: 50px 0;
  margin: 0;
  text-align: center;
}
.ResearchComponent__ListBox__List__Item__Body {
  max-width: 700px;
  text-align: justify;
  display: inline-block;
}
.ResearchComponent__ListBox__List__Item__Body__Head {
  font-size: 1.5rem;
  line-height: 1em;
  padding: 0 0 30px 0;
  text-align: center;
}
.ResearchComponent__ListBox__List__Item__Body__Head__Before {
  display: inline-block;
  color: rgba(85, 94, 100, 0.5);
  padding-right: 20px;
  vertical-align: middle;
}
.ResearchComponent__ListBox__List__Item__Body__Head__Center {
  display: inline-block;
  max-width: 80%;
  vertical-align: middle;
}
.ResearchComponent__ListBox__List__Item__Body__Head__After {
  display: inline-block;
  color: rgba(85, 94, 100, 0.5);
  padding-left: 20px;
  vertical-align: middle;
}
.ResearchComponent__ListBox__List__Item__Body__SubHead {
  font-size: 1rem;
  line-height: 1.5em;
  padding: 0 0 30px 0;
  text-align: left;
}
.ResearchComponent__ListBox__List__Item__Body__Description {
  font-size: 1rem;
  line-height: 1.5em;
  padding: 15px 0 0 0;
}
.ResearchComponent__ListBox__List__Item__Body__DescriptionListItem {
  font-size: 1rem;
  line-height: 1.5em;
  padding: 8px 0 8px 20px;
  max-width: 640px;
  margin: auto;
  text-align: left;
}
.ResearchComponent__ListBox__List__Item__Body__DescriptionListItem:first-of-type {
  margin-top: 22px;
}
.ResearchComponent__ListBox__List__Item__Body__DescriptionListItem:last-of-type {
  margin-bottom: 22px;
}
.ResearchComponent__ListBox__List__Item__Body__DescriptionListItem:before {
  content: '-';
  padding-right: 15px;
}
.ResearchComponent__ListBox__List__Item__Body__DescriptionLinkItem {
  font-size: 1rem;
  line-height: 1.5em;
  padding: 8px 0 8px 20px;
  text-align: left;
  margin: 0;
  display: block;
  text-decoration: none;
  color: #233c74;
}
.ResearchComponent__ListBox__List__Item__Body__DescriptionLinkItem:first-of-type {
  margin-top: 22px;
}
.ResearchComponent__ListBox__List__Item__Body__DescriptionLinkItem:last-of-type {
  margin-bottom: 22px;
}
.ResearchComponent__ListBox__List__Item__Body__DescriptionLinkItem:before {
  content: '-';
  padding-right: 15px;
}

.ServicesComponent {
  padding-top: 96px;
  position: relative;
}
.ServicesComponent__Nav {
  position: absolute;
  left: 0;
  top: 53px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.84);
  margin: 0;
  padding: 14px 0;
  list-style: none;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #a6a8a9;
}
.ServicesComponent__Nav__Item {
  padding: 0 20px;
  font-size: .9rem;
  line-height: 1em;
}
.ServicesComponent__Nav__Item__Link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

.Slogan {
  background-color: #2c4658;
}
.Slogan__Title {
  margin: 0 auto;
  font-size: 50px;
  line-height: 1.2em;
  text-align: center;
  font-weight: 100;
  color: #fff;
  max-width: 1000px;
  padding: 40px 20px 50px 20px;
}
.Slogan__Title:first-letter {
  color: #fff732;
}

.Splash {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #18252f;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
.Splash__Title {
  text-align: center;
  position: relative;
  z-index: 3;
  margin-top: 50px;
}
@media (max-width: 660px) {
  .Splash__Title {
    padding: 0 20px;
  }
}
.Splash__Title__H1 {
  margin: 0;
  color: #fff;
  font-size: 3.4rem;
  font-weight: 100;
  line-height: 1em;
}
.Splash__Title__H1:first-letter {
  color: #fff700;
}
@media (max-width: 900px) {
  .Splash__Title__H1 {
    font-size: 2.4rem;
  }
}
.Splash__Title__H2 {
  margin-top: 18px;
  display: inline-block;
}
.Splash__Title__H2__With {
  font-size: 1.3rem;
  line-height: 1em;
  font-weight: 100;
  padding-right: 0;
  color: #afbcc9;
}
@media (max-width: 660px) {
  .Splash__Title__H2__With {
    display: block;
    padding: 0 0 18px 0;
  }
}
.Splash__Title__H2__Company {
  font-size: 2rem;
  color: #e8e9ff;
  font-weight: 100;
  line-height: 1em;
  border: 2px solid rgba(19, 32, 40, 0.4);
  background: rgba(19, 32, 40, 0.32);
  display: inline-block;
  padding: 7px 18px;
}
@media (max-width: 3200px) {
  .Splash {
    background-image: url(/content/spa/images/splashes/stars3200.jpg);
  }
}
@media (max-width: 2560px) {
  .Splash {
    background-image: url(/content/spa/images/splashes/stars2560.jpg);
  }
}
@media (max-width: 1440px) {
  .Splash {
    background-image: url(/content/spa/images/splashes/stars1440.jpg);
  }
}
@media (max-width: 1280px) {
  .Splash {
    background-image: url(/content/spa/images/splashes/stars1280.jpg);
    height: 487px;
  }
}
@media (max-width: 1024px) {
  .Splash {
    background-image: url(/content/spa/images/splashes/stars1024.jpg);
    height: 390px;
  }
}
@media (max-width: 960px) {
  .Splash {
    background-image: url(/content/spa/images/splashes/stars960.jpg);
    height: 390px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 600px), (min--moz-device-pixel-ratio: 2) and (max-width: 600px), (min-resolution: 2dppx) and (max-width: 600px), (min-resolution: 192dpi) and (max-width: 600px) {
  .Splash {
    background-image: url(/content/spa/images/splashes/stars600@2x.jpg);
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 800px), (min--moz-device-pixel-ratio: 2) and (max-width: 800px), (min-resolution: 2dppx) and (max-width: 800px), (min-resolution: 192dpi) and (max-width: 800px) {
  .Splash {
    background-image: url(/content/spa/images/splashes/stars800@2x.jpg);
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 960px), (min--moz-device-pixel-ratio: 2) and (max-width: 960px), (min-resolution: 2dppx) and (max-width: 960px), (min-resolution: 192dpi) and (max-width: 960px) {
  .Splash {
    background-image: url(/content/spa/images/splashes/stars960@2x.jpg);
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), (min-resolution: 2dppx) and (max-width: 1024px), (min-resolution: 192dpi) and (max-width: 1024px) {
  .Splash {
    background-image: url(/content/spa/images/splashes/stars1024@2x.jpg);
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 1280px), (min--moz-device-pixel-ratio: 2) and (max-width: 1280px), (min-resolution: 2dppx) and (max-width: 1280px), (min-resolution: 192dpi) and (max-width: 1280px) {
  .Splash {
    background-image: url(/content/spa/images/splashes/stars1280@2x.jpg);
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 1440px), (min--moz-device-pixel-ratio: 2) and (max-width: 1440px), (min-resolution: 2dppx) and (max-width: 1440px), (min-resolution: 192dpi) and (max-width: 1440px) {
  .Splash {
    background-image: url(/content/spa/images/splashes/stars1440@2x.jpg);
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 2560px), (min--moz-device-pixel-ratio: 2) and (max-width: 2560px), (min-resolution: 2dppx) and (max-width: 2560px), (min-resolution: 192dpi) and (max-width: 2560px) {
  .Splash {
    background-image: url(/content/spa/images/splashes/stars2560@2x.jpg);
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 3200px), (min--moz-device-pixel-ratio: 2) and (max-width: 3200px), (min-resolution: 2dppx) and (max-width: 3200px), (min-resolution: 192dpi) and (max-width: 3200px) {
  .Splash {
    background-image: url(/content/spa/images/splashes/stars3200@2x.jpg);
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 3200px), (min--moz-device-pixel-ratio: 2) and (min-width: 3200px), (min-resolution: 2dppx) and (min-width: 3200px), (min-resolution: 192dpi) and (min-width: 3200px) {
  .Splash {
    background-image: url(/content/spa/images/splashes/stars4608@2x.jpg);
  }
}

.Technologies {
  position: relative;
  padding: 45px 0 0 0;
  background-color: #18252f;
  border-bottom: 5px solid #3e617a;
  overflow: hidden;
}
.Technologies__Title {
  text-align: center;
  font-size: 2.6rem;
  line-height: 1em;
  font-weight: 100;
  color: #72e2fb;
  margin: 0;
  text-shadow: -1px -1px 1px #0a141c, 1px -1.1px 1px #0a141c, -1px 1px 1px #0a141c, 1px 1px 1px #0a141c;
  position: relative;
  z-index: 2;
}
.Technologies__Clusterization {
  z-index: 1;
}
.Technologies__Box {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  margin: 40px auto 34px auto;
  max-width: 1290px;
  position: relative;
  z-index: 2;
}
.Technologies__Box__Technology {
  width: 338px;
  margin: 20px 25px;
  padding: 20px;
  background-color: rgba(29, 46, 57, 0.94);
  border-radius: 10px;
}
.Technologies__Box__Technology__Title {
  font-size: 1.2rem;
  line-height: 1em;
  font-weight: 300;
  color: #fff;
  white-space: nowrap;
  padding-left: 36px;
  position: relative;
}
.Technologies__Box__Technology__Title:before {
  content: '';
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: -2px;
}
.Technologies__Box__Technology.ClusterAnalysis .Technologies__Box__Technology__Title:before {
  background-image: url(/content/spa/images/icons/ic_extension_white_24dp_1x.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .Technologies__Box__Technology.ClusterAnalysis .Technologies__Box__Technology__Title:before {
    background-image: url(/content/spa/images/icons/ic_extension_white_24dp_2x.png);
  }
}
.Technologies__Box__Technology.Prediction .Technologies__Box__Technology__Title:before {
  background-image: url(/content/spa/images/icons/ic_timeline_white_24dp_1x.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .Technologies__Box__Technology.Prediction .Technologies__Box__Technology__Title:before {
    background-image: url(/content/spa/images/icons/ic_timeline_white_24dp_2x.png);
  }
}
.Technologies__Box__Technology.Visualisation .Technologies__Box__Technology__Title:before {
  background-image: url(/content/spa/images/icons/ic_visibility_white_24dp_1x.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .Technologies__Box__Technology.Visualisation .Technologies__Box__Technology__Title:before {
    background-image: url(/content/spa/images/icons/ic_visibility_white_24dp_2x.png);
  }
}
.Technologies__Box__Technology.ChatBots .Technologies__Box__Technology__Title:before {
  background-image: url(/content/spa/images/icons/ic_face_white_24dp_1x.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .Technologies__Box__Technology.ChatBots .Technologies__Box__Technology__Title:before {
    background-image: url(/content/spa/images/icons/ic_face_white_24dp_2x.png);
  }
}
.Technologies__Box__Technology.Classification .Technologies__Box__Technology__Title:before {
  background-image: url(/content/spa/images/icons/ic_fingerprint_white_24dp_1x.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .Technologies__Box__Technology.Classification .Technologies__Box__Technology__Title:before {
    background-image: url(/content/spa/images/icons/ic_fingerprint_white_24dp_2x.png);
  }
}
.Technologies__Box__Technology.TimelineDB .Technologies__Box__Technology__Title:before {
  background-image: url(/content/spa/images/icons/ic_work_white_24dp_1x.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .Technologies__Box__Technology.TimelineDB .Technologies__Box__Technology__Title:before {
    background-image: url(/content/spa/images/icons/ic_work_white_24dp_2x.png);
  }
}
.Technologies__Box__Technology__Description {
  font-size: 1rem;
  line-height: 1.35em;
  padding: 19px 0 0 0;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.76);
  padding-left: 36px;
}








.AuthAccount {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid transparent;
  background-color: transparent;
  margin: 12px 15px 12px 25px;
}
.AuthAccount--green {
  padding: 2px 10px 4px 10px;
  border-radius: 4px;
  border: 1px solid #0f790f;
  background-color: #19a419;
}

.AuthLoginButton {
  color: inherit;
  text-decoration: none;
  font-size: 15px;
  line-height: 1em;
}



.UserAccount {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: inherit;
  text-decoration: none;
  position: relative;
  padding: 12px 15px 12px 25px;
  min-width: 134px;
}
.UserAccount--active {
  background-color: #3c5faa;
}
.UserAccount__UserName {
  font-size: .9rem;
  line-height: 1em;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 450px) {
  .UserAccount__UserName {
    display: none;
  }
}
.UserAccount__UserPic {
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: left top;
  width: 24px;
  height: 24px;
  background-image: url(/content/spa/images/icons/account.png);
  margin-left: 11px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .UserAccount__UserPic {
    background-image: url(/content/spa/images/icons/account@2x.png);
  }
}
.UserAccount__Chevron {
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: left top;
  width: 17px;
  height: 17px;
  background-image: url(/content/spa/images/icons/ic_expand_more_white_24dp_1x.png);
  margin-left: 5px;
  opacity: .8;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .UserAccount__Chevron {
    background-image: url(/content/spa/images/icons/ic_expand_more_white_24dp_2x.png);
  }
}
.UserAccount__Chevron--active {
  transform: rotate(180deg);
}
.UserAccountBody {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 1px 0 0 0;
  width: 100%;
}
.UserAccountBody__Inner {
  background-color: #3a4b5d;
  border: 1px solid #132028;
  border-top: none;
}
.UserAccountBody__AccountLink,
.UserAccountBody__LogoutLink {
  white-space: nowrap;
  color: #fff;
  text-decoration: none;
  padding: 15px 13px 15px 0;
  font-size: 1rem;
  line-height: 1em;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #13222b;
}
.UserAccountBody__AccountLink:last-child,
.UserAccountBody__LogoutLink:last-child {
  border-bottom: none;
}
.UserAccountBody__AccountLink:hover,
.UserAccountBody__LogoutLink:hover {
  background-color: #3c5faa;
}
.ChevronRight {
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: left top;
  width: 17px;
  height: 17px;
  background-image: url(/content/spa/images/icons/ic_chevron_right_white_24dp_1x.png);
  margin-left: 5px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .ChevronRight {
    background-image: url(/content/spa/images/icons/ic_chevron_right_white_24dp_2x.png);
  }
}

.CompanyTab__Title {
  font-size: 2rem;
  line-height: 1.5em;
  text-align: center;
  background-color: #6281c6;
  color: #fff;
  padding: 12px 0;
}
.CompanyTab__Intro {
  font-size: 1rem;
  line-height: 1.5em;
  max-width: 700px;
  padding: 0 100px 0 100px;
  margin: 40px auto 0 auto;
  text-align: center;
}
@media (max-width: 600px) {
  .CompanyTab__Intro {
    padding: 0 20px 0 20px;
  }
}
.CompanyTab__ListBox__List {
  padding: 20px 50px 70px 50px;
  list-style: none;
  margin: 0;
}
@media (max-width: 600px) {
  .CompanyTab__ListBox__List {
    padding: 0 20px 0px 20px;
  }
}
.CompanyTab__ListBox__List__Item {
  padding: 50px 0;
  margin: 0;
  text-align: center;
}
.CompanyTab__ListBox__List__Item__Body {
  max-width: 700px;
  text-align: justify;
  display: inline-block;
}
.CompanyTab__ListBox__List__Item__Body__Head {
  font-size: 1.5rem;
  line-height: 1em;
  padding: 0 0 30px 0;
  text-align: center;
}
.CompanyTab__ListBox__List__Item__Body__Head__Before {
  display: inline-block;
  color: rgba(85, 94, 100, 0.5);
  padding-right: 20px;
  vertical-align: middle;
}
.CompanyTab__ListBox__List__Item__Body__Head__Center {
  display: inline-block;
  max-width: 70%;
  vertical-align: middle;
}
.CompanyTab__ListBox__List__Item__Body__Head__After {
  display: inline-block;
  color: rgba(85, 94, 100, 0.5);
  padding-left: 20px;
  vertical-align: middle;
}
.CompanyTab__ListBox__List__Item__Body__Description {
  font-size: 1rem;
  line-height: 1.5em;
  padding: 15px 0 0 0;
}
.CompanyTab__ListBox__List__Item__Body__DescriptionList {
  columns: 2;
  column-gap: 0px;
  column-width: 200px;
}
.CompanyTab__ListBox__List__Item__Body__DescriptionListItem {
  font-size: 1rem;
  line-height: 1.5em;
  padding: 8px 0 8px 20px;
  max-width: 150px;
  margin: auto;
  text-align: left;
  white-space: nowrap;
}
.CompanyTab__ListBox__List__Item__Body__DescriptionListItem:first-of-type {
  margin-top: 22px;
}
.CompanyTab__ListBox__List__Item__Body__DescriptionListItem:last-of-type {
  margin-bottom: 22px;
}
.CompanyTab__ListBox__List__Item__Body__DescriptionListItem:before {
  content: '-';
  padding-right: 15px;
}

.CooperationTab__Title {
  font-size: 2rem;
  line-height: 1.5em;
  text-align: center;
  background-color: #bf62c6;
  color: #fff;
  padding: 12px 0;
}
.CooperationTab__Intro {
  font-size: 1rem;
  line-height: 1.5em;
  max-width: 700px;
  padding: 0 100px 0 100px;
  margin: 50px auto 60px auto;
  text-align: justify;
}
@media (max-width: 600px) {
  .CooperationTab__Intro {
    padding: 0 20px 0 20px;
  }
}
.CooperationTab__ListBox__List {
  padding: 20px 50px 70px 50px;
  list-style: none;
  margin: 0;
}
@media (max-width: 600px) {
  .CooperationTab__ListBox__List {
    padding: 0 20px 0px 20px;
  }
}
.CooperationTab__ListBox__List__Item {
  padding: 50px 0;
  margin: 0;
  text-align: center;
}
.CooperationTab__ListBox__List__Item__Body {
  max-width: 700px;
  text-align: justify;
  display: inline-block;
}
.CooperationTab__ListBox__List__Item__Body__Head {
  font-size: 1.5rem;
  line-height: 1em;
  padding: 0 0 30px 0;
  text-align: center;
}
.CooperationTab__ListBox__List__Item__Body__Head__Before {
  display: inline-block;
  color: rgba(85, 94, 100, 0.5);
  padding-right: 20px;
  vertical-align: middle;
}
.CooperationTab__ListBox__List__Item__Body__Head__Center {
  display: inline-block;
  max-width: 70%;
  vertical-align: middle;
}
.CooperationTab__ListBox__List__Item__Body__Head__After {
  display: inline-block;
  color: rgba(85, 94, 100, 0.5);
  padding-left: 20px;
  vertical-align: middle;
}
.CooperationTab__ListBox__List__Item__Body__Description {
  font-size: 1rem;
  line-height: 1.5em;
  padding: 15px 0 0 0;
}
.CooperationTab__ListBox__List__Item__Body__DescriptionListItem {
  font-size: 1rem;
  line-height: 1.5em;
  padding: 8px 0 8px 20px;
  text-align: left;
  margin: 0;
}
.CooperationTab__ListBox__List__Item__Body__DescriptionListItem:first-of-type {
  margin-top: 22px;
}
.CooperationTab__ListBox__List__Item__Body__DescriptionListItem:last-of-type {
  margin-bottom: 22px;
}
.CooperationTab__ListBox__List__Item__Body__DescriptionListItem:before {
  content: '-';
  padding-right: 15px;
}

.MissionTab__Title {
  font-size: 2rem;
  line-height: 1.5em;
  text-align: center;
  background-color: #73c662;
  color: #fff;
  padding: 12px 0;
}
.MissionTab__Intro {
  font-size: 1rem;
  line-height: 1.5em;
  max-width: 700px;
  padding: 0 100px 0 100px;
  margin: 60px auto 0 auto;
  text-align: justify;
}
@media (max-width: 600px) {
  .MissionTab__Intro {
    padding: 0 20px 0 20px;
  }
}
.MissionTab__ListBox__List {
  padding: 20px 50px 70px 50px;
  list-style: none;
  margin: 0;
}
@media (max-width: 600px) {
  .MissionTab__ListBox__List {
    padding: 0 20px 0px 20px;
  }
}
.MissionTab__ListBox__List__Item {
  padding: 50px 0;
  margin: 0;
  text-align: center;
}
.MissionTab__ListBox__List__Item__Body {
  max-width: 700px;
  text-align: justify;
  display: inline-block;
}
.MissionTab__ListBox__List__Item__Body__Head {
  font-size: 1.5rem;
  line-height: 1em;
  padding: 0 0 30px 0;
  text-align: center;
}
.MissionTab__ListBox__List__Item__Body__Head__Before {
  display: inline-block;
  color: rgba(85, 94, 100, 0.5);
  padding-right: 20px;
  vertical-align: middle;
}
.MissionTab__ListBox__List__Item__Body__Head__Center {
  display: inline-block;
  max-width: 70%;
  vertical-align: middle;
}
.MissionTab__ListBox__List__Item__Body__Head__After {
  display: inline-block;
  color: rgba(85, 94, 100, 0.5);
  padding-left: 20px;
  vertical-align: middle;
}
.MissionTab__ListBox__List__Item__Body__Description {
  font-size: 1rem;
  line-height: 1.5em;
  padding: 15px 0 0 0;
}
.MissionTab__ListBox__List__Item__Body__DescriptionListItem {
  font-size: 1rem;
  line-height: 1.5em;
  padding: 8px 0 8px 20px;
  text-align: left;
  margin: 0;
}
.MissionTab__ListBox__List__Item__Body__DescriptionListItem:first-of-type {
  margin-top: 22px;
}
.MissionTab__ListBox__List__Item__Body__DescriptionListItem:last-of-type {
  margin-bottom: 22px;
}
.MissionTab__ListBox__List__Item__Body__DescriptionListItem:before {
  content: '-';
  padding-right: 15px;
}

.PressTab__Title {
  font-size: 2rem;
  line-height: 1.5em;
  text-align: center;
  background-color: #62c6a9;
  color: #fff;
  padding: 12px 0;
}
.PressTab__Intro {
  font-size: 1rem;
  line-height: 1.5em;
  max-width: 700px;
  padding: 0 100px 0 100px;
  margin: 60px auto 0 auto;
  text-align: justify;
}
@media (max-width: 600px) {
  .PressTab__Intro {
    padding: 0 20px 0 20px;
  }
}
.PressTab__ListBox__List {
  padding: 20px 50px 70px 50px;
  list-style: none;
  margin: 0;
}
@media (max-width: 600px) {
  .PressTab__ListBox__List {
    padding: 0 20px 0px 20px;
  }
}
.PressTab__ListBox__List__Item {
  padding: 50px 0;
  margin: 0;
  text-align: center;
}
.PressTab__ListBox__List__Item__Body {
  max-width: 700px;
  text-align: justify;
  display: inline-block;
}
.PressTab__ListBox__List__Item__Body__Head {
  font-size: 1.5rem;
  line-height: 1em;
  padding: 0 0 30px 0;
  text-align: center;
}
.PressTab__ListBox__List__Item__Body__Head__Before {
  display: inline-block;
  color: rgba(85, 94, 100, 0.5);
  padding-right: 20px;
  vertical-align: middle;
}
.PressTab__ListBox__List__Item__Body__Head__Center {
  display: inline-block;
  max-width: 70%;
  vertical-align: middle;
}
.PressTab__ListBox__List__Item__Body__Head__After {
  display: inline-block;
  color: rgba(85, 94, 100, 0.5);
  padding-left: 20px;
  vertical-align: middle;
}
.PressTab__ListBox__List__Item__Body__Description {
  font-size: 1rem;
  line-height: 1.5em;
  padding: 15px 0 0 0;
}
.PressTab__ListBox__List__Item__Body__DescriptionListItem {
  font-size: 1rem;
  line-height: 1.5em;
  padding: 8px 0 8px 20px;
  text-align: left;
  margin: 0;
}
.PressTab__ListBox__List__Item__Body__DescriptionListItem:first-of-type {
  margin-top: 22px;
}
.PressTab__ListBox__List__Item__Body__DescriptionListItem:last-of-type {
  margin-bottom: 22px;
}
.PressTab__ListBox__List__Item__Body__DescriptionListItem:before {
  content: '-';
  padding-right: 15px;
}
.PressTab__ListBox__List__Item__Body__DescriptionLinkItem {
  font-size: 1rem;
  line-height: 1.5em;
  padding: 8px 0 8px 20px;
  text-align: left;
  margin: 0;
  display: block;
  text-decoration: none;
  color: #233c74;
}
.PressTab__ListBox__List__Item__Body__DescriptionLinkItem:first-of-type {
  margin-top: 22px;
}
.PressTab__ListBox__List__Item__Body__DescriptionLinkItem:last-of-type {
  margin-bottom: 22px;
}
.PressTab__ListBox__List__Item__Body__DescriptionLinkItem:before {
  content: '-';
  padding-right: 15px;
}

.TeamTab__Title {
  font-size: 2rem;
  line-height: 1.5em;
  text-align: center;
  background-color: #c66262;
  color: #fff;
  padding: 12px 0;
}
.TeamTab__Team {
  padding: 0 0 15px 0;
  margin: auto;
  max-width: 1000px;
  text-align: center;
}
.TeamTab__Team__Photo {
  width: 100%;
  max-width: 700px;
}
.TeamTab__Intro {
  font-size: 1rem;
  line-height: 1.5em;
  max-width: 700px;
  padding: 0 100px 0 100px;
  margin: 30px auto 0 auto;
  text-align: center;
}
@media (max-width: 600px) {
  .TeamTab__Intro {
    padding: 0 20px 0 20px;
  }
}
.TeamTab__ListBox__List {
  padding: 20px 50px 70px 50px;
  list-style: none;
  margin: 0;
}
@media (max-width: 600px) {
  .TeamTab__ListBox__List {
    padding: 0 20px 0px 20px;
  }
}
.TeamTab__ListBox__List__Item {
  padding: 50px 0;
  margin: 0;
  text-align: center;
}
.TeamTab__ListBox__List__Item__Body {
  max-width: 700px;
  text-align: justify;
  display: inline-block;
}
.TeamTab__ListBox__List__Item__Body__Head {
  font-size: 1.5rem;
  line-height: 1em;
  padding: 0 0 30px 0;
  text-align: center;
}
.TeamTab__ListBox__List__Item__Body__Head__Before {
  display: inline-block;
  color: rgba(85, 94, 100, 0.5);
  padding-right: 20px;
  vertical-align: middle;
}
.TeamTab__ListBox__List__Item__Body__Head__Center {
  display: inline-block;
  max-width: 70%;
  vertical-align: middle;
}
.TeamTab__ListBox__List__Item__Body__Head__After {
  display: inline-block;
  color: rgba(85, 94, 100, 0.5);
  padding-left: 20px;
  vertical-align: middle;
}
.TeamTab__ListBox__List__Item__Body__Description {
  font-size: 1rem;
  line-height: 1.5em;
  padding: 15px 0 0 0;
}
.TeamTab__ListBox__List__Item__Body__DescriptionListItem {
  font-size: 1rem;
  line-height: 1.5em;
  padding: 8px 0 8px 20px;
  text-align: left;
  margin: 0;
}
.TeamTab__ListBox__List__Item__Body__DescriptionListItem:first-of-type {
  margin-top: 22px;
}
.TeamTab__ListBox__List__Item__Body__DescriptionListItem:last-of-type {
  margin-bottom: 22px;
}
.TeamTab__ListBox__List__Item__Body__DescriptionListItem:before {
  content: '-';
  padding-right: 15px;
}

.HowDoesItWorkTab__Title {
  font-size: 2rem;
  line-height: 1.5em;
  text-align: center;
  background-color: #73c662;
  color: #fff;
  padding: 12px 0;
}
.HowDoesItWorkTab__Intro {
  font-size: 1rem;
  line-height: 1.5em;
  max-width: 700px;
  padding: 0 100px 0 100px;
  margin: 60px auto 0 auto;
  text-align: justify;
}
@media (max-width: 600px) {
  .HowDoesItWorkTab__Intro {
    padding: 0 20px 0 20px;
  }
}
.HowDoesItWorkTab__ListBox__List {
  padding: 20px 50px 0 50px;
  list-style: none;
  margin: 0;
}
@media (max-width: 600px) {
  .HowDoesItWorkTab__ListBox__List {
    padding: 0 20px 0px 20px;
  }
}
.HowDoesItWorkTab__ListBox__List__Item {
  padding: 50px 0 20px 0;
  margin: 0;
  text-align: center;
}
.HowDoesItWorkTab__ListBox__List__Item__Body {
  max-width: 900px;
  text-align: center;
  display: inline-block;
}
.HowDoesItWorkTab__ListBox__List__Item__Body__Head {
  font-size: 1.5rem;
  line-height: 1.3em;
  padding: 0 0 30px 0;
  text-align: center;
}
.HowDoesItWorkTab__ListBox__List__Item__Body__Head__Before {
  display: inline-block;
  color: rgba(85, 94, 100, 0.5);
  padding-right: 20px;
  vertical-align: middle;
}
.HowDoesItWorkTab__ListBox__List__Item__Body__Head__Center {
  display: inline-block;
  max-width: 570px;
  vertical-align: middle;
  text-align: justify;
}
.HowDoesItWorkTab__ListBox__List__Item__Body__Head__After {
  display: inline-block;
  color: rgba(85, 94, 100, 0.5);
  padding-left: 20px;
  vertical-align: middle;
}
.HowDoesItWorkTab__ListBox__List__Item__Body__Description {
  font-size: 1rem;
  line-height: 1.5em;
  padding: 15px 0 0 0;
}
.HowDoesItWorkTab__ListBox__List__Item__Body__DescriptionListItem {
  font-size: 1rem;
  line-height: 1.5em;
  padding: 8px 0 8px 20px;
  max-width: 460px;
  margin: auto;
  text-align: left;
  white-space: nowrap;
}
.HowDoesItWorkTab__ListBox__List__Item__Body__DescriptionListItem:first-of-type {
  margin-top: 22px;
}
.HowDoesItWorkTab__ListBox__List__Item__Body__DescriptionListItem:last-of-type {
  margin-bottom: 22px;
}
.HowDoesItWorkTab__ListBox__List__Item__Body__DescriptionListItem:before {
  content: '-';
  padding-right: 15px;
}
.HowDoesItWorkTab__ListBox__List__Item__Body__Image {
  width: 100%;
  max-width: 529px;
  margin: 20px 0;
}

.ServicesTab__Title {
  font-size: 2rem;
  line-height: 1.5em;
  text-align: center;
  background-color: #6281c6;
  color: #fff;
  padding: 12px 0;
}
.ServicesTab__Intro {
  font-size: 1rem;
  line-height: 1.5em;
  max-width: 700px;
  padding: 0 100px 50px 100px;
  margin: 60px auto 0 auto;
  text-align: justify;
}
@media (max-width: 600px) {
  .ServicesTab__Intro {
    padding: 0 20px 0 20px;
  }
}
.ServicesTab__ListBox__List {
  padding: 20px 50px 70px 50px;
  list-style: none;
  margin: 0;
}
@media (max-width: 600px) {
  .ServicesTab__ListBox__List {
    padding: 0 20px 0px 20px;
  }
}
.ServicesTab__ListBox__List__Item {
  padding: 50px 0;
  margin: 0;
  text-align: center;
}
.ServicesTab__ListBox__List__Item__Body {
  max-width: 700px;
  text-align: justify;
  display: inline-block;
}
.ServicesTab__ListBox__List__Item__Body__Head {
  font-size: 1.5rem;
  line-height: 1em;
  padding: 0 0 30px 0;
  text-align: center;
}
.ServicesTab__ListBox__List__Item__Body__Head__Before {
  display: inline-block;
  color: rgba(85, 94, 100, 0.5);
  padding-right: 20px;
  vertical-align: middle;
}
.ServicesTab__ListBox__List__Item__Body__Head__Center {
  display: inline-block;
  max-width: 70%;
  vertical-align: middle;
}
.ServicesTab__ListBox__List__Item__Body__Head__After {
  display: inline-block;
  color: rgba(85, 94, 100, 0.5);
  padding-left: 20px;
  vertical-align: middle;
}
.ServicesTab__ListBox__List__Item__Body__Description {
  font-size: 1rem;
  line-height: 1.5em;
}

.WhyWeTab__Title {
  font-size: 2rem;
  line-height: 1.5em;
  text-align: center;
  background-color: #dfc515;
  color: #fff;
  padding: 12px 0;
}
.WhyWeTab__Intro {
  font-size: 1rem;
  line-height: 1.5em;
  max-width: 700px;
  padding: 0 100px 70px 100px;
  margin: 40px auto 0 auto;
  text-align: justify;
}
@media (max-width: 600px) {
  .WhyWeTab__Intro {
    padding: 0 20px 70px 20px;
  }
}
.WhyWeTab__ListBox__List {
  padding: 20px 50px 70px 50px;
  margin: 0;
}
@media (max-width: 600px) {
  .WhyWeTab__ListBox__List {
    padding: 0 20px 0px 20px;
  }
}
.WhyWeTab__ListBox__List__Item {
  padding: 23px 0 0 20px;
  margin: auto;
  text-align: left;
  max-width: 500px;
}
.WhyWeTab__ListBox__List__Item__Body {
  display: inline-block;
}
.WhyWeTab__ListBox__List__Item__Body__Head {
  font-size: 1.34rem;
  line-height: 1.3em;
  padding: 0 0 30px 0;
  text-align: left;
}
.WhyWeTab__ListBox__List__Item__Body__Head__Before {
  display: inline-block;
  vertical-align: middle;
}
.WhyWeTab__ListBox__List__Item__Body__Head__Center {
  display: inline-block;
  vertical-align: middle;
}
.WhyWeTab__ListBox__List__Item__Body__Head__After {
  display: inline-block;
  vertical-align: middle;
}
.WhyWeTab__ListBox__List__Item__Body__Description {
  font-size: 1rem;
  line-height: 1.5em;
}

.Clusterization {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.Clusterization__Canvas {
  opacity: 1;
}

.LoginAnimation {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.LoginAnimation__Canvas {
  opacity: 1;
}
