.RequestForm {
    position: relative;
    z-index: 1;
    text-align: center;

    &__Form {
        padding: 0 0 30px 0;
        &.active {
            display: block;
        }
        &.inactive {
            display: none;
        }
    }

    &__Title {
        margin: 20px 0 30px 0;
        padding: 0;

        &__Inner {
            font-size: 1.2rem;
            line-height: 1em;
            color: #3e617a;

            &.asButton {
                display: inline-block;
                padding: 10px 12px 12px 12px;
                background-color: #59af50;
                color: #fff;
                font-size: .9rem;
                line-height: 1em;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
    }

    &__Input {
        outline: 0;
        background: #fff;
        width: 100%;
        border: 1px solid #eaeaea;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;

        font-size: .9rem;
        line-height: 1em;
    }

    &__TopicLabel {
        width: 100%;
        display: inline-block;
        padding: 10px 0 11px 0;

        font-size: 1rem;
        line-height: 1em;
        color: #5c5c5c;
    }

    &__Select {
        height: 50px;

        outline: 0;
        background: #fff;
        width: 100%;
        border: 1px solid #eaeaea;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;

        font-size: .9rem;
        line-height: 1em;
    }

    &__Textarea {
        outline: 0;
        background: #fff;
        width: 100%;
        border: 1px solid #eaeaea;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;

        font-family: inherit;
        font-size: .9rem;
        line-height: 1em;

        resize: vertical;
    }

    &__Button {
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        transition: all 0.3 ease;
        cursor: pointer;

        font-size: .9rem;
        line-height: 1em;

        transition: background .2s;
    }

    &__Button:hover,
    &__Button:active,
    &__Button:focus {
        background: #43A047;
    }

    &__Successfully {
        text-transform: uppercase;
        outline: 0;
        width: 100%;
        border: 0;
        padding: 15px;

        box-sizing: border-box;

        font-size: .8rem;
        line-height: 1.4em;
        color: #4CAF50;
    }

    &__Error {
        text-transform: uppercase;
        outline: 0;
        background: #af4c4c;
        width: 100%;
        border: 0;
        padding: 15px;

        box-sizing: border-box;

        color: #FFFFFF;
        font-size: .9rem;
        line-height: 1em;

        transition: all 0.3 ease;

        transition: background .2s;
    }
}
