.ResearchComponent {
    padding-top: 49px;

    &__Title {
        font-size: 2rem;
        line-height: 1.5em;
        text-align: center;
        background-color: #62c671;
        color: #fff;
        padding: 12px 0;
    }

    &__Intro {
        font-size: 1rem;
        line-height: 1.5em;
        max-width: 700px;
        padding: 0 100px 0 100px;
        margin: 40px auto 0 auto;
        text-align: justify;

        @media (max-width: 600px) {
            padding: 0 20px 0 20px;
        }

        &.Big {
            font-size: 1.5rem;
            line-height: 1.5em;
        }

        &.Center {
            text-align: center;
        }
    }

    &__ListBox {
        &__List {
            padding: 20px 50px 0 50px;
            list-style: none;
            margin: 0;

            @media (max-width: 600px) {
                padding: 0 20px 0px 20px;
            }

            &__Item {
                padding: 50px 0;
                margin: 0;
                text-align: center;

                &__Body {
                    max-width: 700px;
                    text-align: justify;
                    display: inline-block;

                    &__Head {
                        font-size: 1.5rem;
                        line-height: 1em;
                        padding: 0 0 30px 0;
                        text-align: center;

                        &__Before {
                            display: inline-block;
                            color: rgba(85, 94, 100, 0.5);
                            padding-right: 20px;
                            vertical-align: middle;
                        }
                        &__Center {
                            display: inline-block;
                            max-width: 80%;
                            vertical-align: middle;
                        }
                        &__After {
                            display: inline-block;
                            color: rgba(85, 94, 100, 0.5);
                            padding-left: 20px;   
                            vertical-align: middle;
                        }
                    }
                    &__SubHead {
                        font-size: 1rem;
                        line-height: 1.5em;
                        padding: 0 0 30px 0;
                        text-align: left;
                    }
                    &__Description {
                        font-size: 1rem;
                        line-height: 1.5em;
                        padding: 15px 0 0 0;
                    }
                    &__DescriptionList {
                    }
                    &__DescriptionListItem {
                        font-size: 1rem;
                        line-height: 1.5em;
                        padding: 8px 0 8px 20px;
                        max-width: 640px;
                        margin: auto;
                        text-align: left;

                        &:first-of-type {
                            margin-top: 22px;
                        }
                        &:last-of-type {
                            margin-bottom: 22px;
                        }

                        &:before {
                            content: '-';
                            padding-right: 15px;
                        }
                    }
                    &__DescriptionLinkItem {
                        font-size: 1rem;
                        line-height: 1.5em;
                        padding: 8px 0 8px 20px;
                        text-align: left;
                        margin: 0;
                        display: block;
                        text-decoration: none;
                        color: #233c74;

                        &:first-of-type {
                            margin-top: 22px;
                        }
                        &:last-of-type {
                            margin-bottom: 22px;
                        }

                        &:before {
                            content: '-';
                            padding-right: 15px;
                        }
                    }
                }
            }
        }
    }
}