.Slogan {
    background-color: #172630;

    &__Title {
        margin: 0 auto;
        font-size: 1.6rem;
        line-height: 1.1em;
        text-align: center;
        font-weight: 300;
        color: #dadada;
        padding: 12px 20px 14px 20px;

        &:first-letter {
            color: #fff732;
        }
    }
}
