.Partners {
    &__List {
        margin: 100px auto 0 auto;
        padding: 0 50px 0 100px;
        list-style: none;
        max-width: 1000px;

        &__Item {
            margin: 38px 0 0 0;

            &__Inner {
                font-size: 1.7rem;
                line-height: 1.2em;
                font-weight: 100;
                color: hsla(206, 32%, 28%, 1);

                position: relative;

                &:before {
                    content: '';
                    background-repeat: no-repeat;
                    background-size: 24px;
                    width: 24px;
                    height: 24px;

                    position: absolute;
                    left: -49px;
                    top: 7px;

                    background-image: url(/content/spa/images/icons/ic_done_black_24dp_1x.png);

                    @media (-webkit-min-device-pixel-ratio: 2),
                           (min--moz-device-pixel-ratio: 2),
                           (min-resolution: 2dppx),
                           (min-resolution: 192dpi) {
                        background-image: url(/content/spa/images/icons/ic_done_black_24dp_2x.png);
                    }
                }
            }
        }
    }

    &__ButtonBox {
        text-align: center;
        padding: 76px 0 81px 0;

        &__Button {
            text-decoration: none;
            font-size: 1.2em;
            line-height: 1em;
            text-transform: none;
            padding: 5px 13px 8px 12px;
            background-color: #4CAF50;
            color: #fff;
            border-radius: 4px;
            font-weight: 400;
            border: 1px solid #3ba059;
            transition: background-color 0.2s;
            cursor: pointer;
            display: inline-block;
            margin: 20px 0;
            text-transform: uppercase;
        }
    }
}