.WhyWeTab {
    &__Title {
        font-size: 2rem;
        line-height: 1.5em;
        text-align: center;
        background-color: #dfc515;
        color: #fff;
        padding: 12px 0;
    }
        
    &__Intro {
        font-size: 1rem;
        line-height: 1.5em;
        max-width: 700px;
        padding: 0 100px 70px 100px;
        margin: 40px auto 0 auto;
        text-align: justify;

        @media (max-width: 600px) {
            padding: 0 20px 70px 20px;
        }
    }

    &__ListBox {
        &__List {
            padding: 20px 50px 70px 50px;
            margin: 0;

            @media (max-width: 600px) {
                padding: 0 20px 0px 20px;
            }

            &__Item {
                padding: 23px 0 0 20px;
                margin: auto;
                text-align: left;
                max-width: 500px;

                &__Body {
                    display: inline-block;

                    &__Head {
                        font-size: 1.34rem;
                        line-height: 1.3em;
                        padding: 0 0 30px 0;
                        text-align: left;

                        &__Before {
                            display: inline-block;
                            vertical-align: middle;
                        }
                        &__Center {
                            display: inline-block;
                            vertical-align: middle;
                        }
                        &__After {
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                    &__Description {
                        font-size: 1rem;
                        line-height: 1.5em;
                    }
                }
            }
        }
    }
}