.AuthAccount {
    display: inline-block;
    vertical-align: middle;

    border: 1px solid transparent;
    background-color: transparent;

    margin: 12px 15px 12px 25px;

    &--green {
        padding: 2px 10px 4px 10px;
        border-radius: 4px;
        border: 1px solid #0f790f;
        background-color: #19a419;
    }
}