.QuestionBox {
    text-align: center;
    margin: 0;
    padding: 65px 20px 0 20px;

    &__Message {
        font-size: 1.6rem;
        line-height: 1.3em;
    }

    &__Button {
        text-decoration: none;
        font-size: 1.2em;
        line-height: 1em;
        text-transform: none;
        padding: 5px 13px 8px 12px;
        background-color: #4CAF50;
        color: #fff;
        border-radius: 4px;
        font-weight: 400;
        border: 1px solid #3ba059;
        transition: background-color 0.2s;
        cursor: pointer;
        display: inline-block;
        margin: 20px 0;
        text-transform: uppercase;
    }
}
