.RegisterComponent {
    background: #f3f3f3;
    padding-top: 49px;

    position: relative;
    overflow: hidden;
    background-image: url(/content/spa/images/splashes/stars1440.jpg);

    &__Page {
        width: 360px;
        padding: 4% 0;
        margin: auto;

        &__Form {
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            max-width: 360px;
            margin: 0 auto;
            padding: 45px;
            text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

            &__Input {
                outline: 0;
                background: #f2f2f2;
                width: 100%;
                border: 0;
                margin: 0 0 15px;
                padding: 15px;
                box-sizing: border-box;

                font-size: .9rem;
                line-height: 1em;
            }
            &__Button {
                text-transform: uppercase;
                outline: 0;
                background: #4CAF50;
                width: 100%;
                border: 0;
                padding: 15px;

                box-sizing: border-box;

                color: #FFFFFF;
                font-size: .9rem;
                line-height: 1em;

                transition: all 0.3 ease;
                cursor: pointer;

                transition: background .2s;
            }

            &__Error {
                text-transform: uppercase;
                outline: 0;
                background: #af4c4c;
                width: 100%;
                border: 0;
                padding: 15px;

                box-sizing: border-box;

                color: #FFFFFF;
                font-size: .9rem;
                line-height: 1em;

                transition: all 0.3 ease;

                transition: background .2s;
            }

            &__Button:hover,
            &__Button:active,
            &__Button:focus {
                background: #43A047;
            }
        }
    }
}
