.LinesOfBusiness {
    padding: 55px 0 60px 0;

    @media (max-width: 701px) {
        padding: 15px 0 0 0;
    }

    &__Lines {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        max-width: 1228px;
        margin: 0 auto;

        @media (max-width: 841px) {
            flex-wrap: wrap;
        }

        @media (max-width: 701px) {
            flex-direction: column;
            padding: 0 0 60px 0;
            align-items: center;
        }

        &__Line {
            text-align: center;
            padding: 30px 30px 20px 30px;
            max-width: 370px;

            border: 1px solid #ddd;
            background-color: #f8f8f8;

            @media (max-width: 701px) {
                max-width: 400px;
                margin: 20px 0;
            }

            &__Title {
                font-size: 1.8rem;
                line-height: 1.3em;
                padding: 20px 0;

                min-height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                &__Inner {}
            }
            &__SubTitle {
                font-size: .9rem;
                line-height: 1.1em;
                padding: 0 0 30px 0;
                max-width: 90%;
                margin: auto;
                color: #666;
            }
            &__Description {
                color: #2c2c2c;
                font-size: 1rem;
                line-height: 1.5em;
                text-align: justify;
                margin: 17px 0 40px 0;
            }

            &__Description:first-letter {
                text-transform: capitalize;
            }

            &__More {
                white-space: nowrap;
                padding: 0 0 0 6px;
                text-transform: lowercase;
                color: #33538e;
            }
        }
    }
}
