.PriceQuote {
    &__Title {
        margin: 20px auto;
        max-width: 1000px;
    }
    &__Title-H1 {
        font-size: 2rem;
        line-height: 1.3em;
        text-align: center;
    }
    &__Title-H2 {
        
    }
    &__Box {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;

        @media (max-width: 1119px) {
            flex-flow: column nowrap;
        }
    }

    &__QuoteItem {
        flex: 1;
        margin: 20px 26px;
        background-color: #f5f9fc;
        padding: 20px 30px 25px 30px;
        color: #0f2737;
        border-radius: 4px;
        border: 1px solid hsla(202, 59%, 14%, 0.239);

        @media (max-width: 1119px) {
            max-width: 400px;
            margin: 30px auto 20px auto;
            border: none;
            border-radius: 0;
        }
    }
    &__QuoteItem-Header {
        font-size: 1.5rem;
        line-height: 1.4em;
        font-weight: 400;
        text-align: center;
        padding: 0 0 10px 0;
        min-height: 170px;
        @media (max-width: 1317px) {
            padding: 0 0 40px 0;
        }
        @media (max-width: 1119px) {
            min-height: auto;
        }
    }
    &__QuoteItem-Body {
        font-size: 1rem;
        line-height: 1.5em;
        text-align: justify;
        opacity: 0.95;
    }
    &__QuoteItem-List {
        margin: 0;
        padding: 20px 0 0 21px;
        list-style: decimal;
        opacity: .95;
    }
    &__QuoteItem-List-Item {
        padding: 10px 0 0 0;
    }
    &__QuoteItem-Footer {
        font-size: 1rem;
        line-height: 1em;
        font-weight: 600;
        padding: 40px 0 0 0;
        text-align: center;
    }
}
