.Splash {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #18252f;

    &__Title {
        text-align: center;
        position: relative;
        z-index: 3;

        margin-top: 50px;

        @media (max-width: 660px) {
            padding: 0 20px;
        }

        &__H1 {
            margin: 0;
            color: #fff;
            font-size: 3.4rem;
            font-weight: 100;
            line-height: 1em;
            &:first-letter {
                color: #fff700;
            }
            @media (max-width: 900px) {
                font-size: 2.4rem;
            }
        }
        &__H2 {
            margin-top: 18px;
            display: inline-block;

            &__With {
                font-size: 1.3rem;
                line-height: 1em;
                font-weight: 100;
                padding-right: 0;
                color: #afbcc9;

                @media (max-width: 660px) {
                    display: block;
                    padding: 0 0 18px 0;
                }
            }
            &__Company {
                font-size: 2rem;
                color: #e8e9ff;
                font-weight: 100;
                line-height: 1em;
                border: 2px solid rgba(19, 32, 40, 0.4);
                background: rgba(19, 32, 40, 0.32);
                display: inline-block;
                padding: 7px 18px;
            }
        }
    }

    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 3200px) {
        background-image: url(/content/spa/images/splashes/stars3200.jpg);
    }
    @media (max-width: 2560px) {
        background-image: url(/content/spa/images/splashes/stars2560.jpg);
    }
    @media (max-width: 1440px) {
        background-image: url(/content/spa/images/splashes/stars1440.jpg);
    }
    @media (max-width: 1280px) {
        background-image: url(/content/spa/images/splashes/stars1280.jpg);
        height: 487px;
    }
    @media (max-width: 1024px) {
        background-image: url(/content/spa/images/splashes/stars1024.jpg);
        height: 390px;
    }
    @media (max-width: 960px) {
        background-image: url(/content/spa/images/splashes/stars960.jpg);
        height: 390px;
    }
    
    @media (-webkit-min-device-pixel-ratio: 2),
       (min--moz-device-pixel-ratio: 2),
       (min-resolution: 2dppx),
       (min-resolution: 192dpi) {
        @media (max-width: 600px) {
            background-image: url(/content/spa/images/splashes/stars600@2x.jpg);
        }

        @media (max-width: 800px) {
            background-image: url(/content/spa/images/splashes/stars800@2x.jpg);
        }

        @media (max-width: 960px) {
            background-image: url(/content/spa/images/splashes/stars960@2x.jpg);
        }

        @media (max-width: 1024px) {
            background-image: url(/content/spa/images/splashes/stars1024@2x.jpg);
        }

        @media (max-width: 1280px) {
            background-image: url(/content/spa/images/splashes/stars1280@2x.jpg);
        }

        @media (max-width: 1440px) {
            background-image: url(/content/spa/images/splashes/stars1440@2x.jpg);
        }

        @media (max-width: 2560px) {
            background-image: url(/content/spa/images/splashes/stars2560@2x.jpg);
        }

        @media (max-width: 3200px) {
            background-image: url(/content/spa/images/splashes/stars3200@2x.jpg);
        }

        @media (min-width: 3200px) {
            background-image: url(/content/spa/images/splashes/stars4608@2x.jpg);
        }
    }
}