.ContactsComponent {
    padding-top: 49px;

    @media (max-width: 600px) {
        padding-top: 49px;
    }

    &__Box {
        padding: 0 0 15px 0;
        text-align: center;

        &__Body {
            display: inline-block;
            font-size: 1rem;
            line-height: 1em;
            text-align: justify;

            max-width: 700px;


            &__Title {
                font-size: 2rem;
                line-height: 1.5em;
                margin: 0;
                padding: 12px 0;
                color: #ffffff;
                background-color: #4caf50;
            }

            &__List {
                padding: 0;
                list-style: none;
                width: 217px;
                margin: 40px auto 50px auto;

                display: flex;
                flex-flow: column wrap;
                max-height: 100px;
                align-content: center;

                &__Item {
                    text-align: left;
                    padding: 7px 20px;
                    color: #18252f;

                    &__Icon {
                        padding-right: 12px;
                        width: 15px;
                        color: #2485c9;
                        vertical-align: middle;
                    }
                    &__Link {
                        color: inherit;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
