.ContactForm {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    &__Title {
        margin: 0 0 30px 0;
        padding: 0;
        font-size: 1.2rem;
        line-height: 1em;
        color: #3e617a;
    }

    &__Input {
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;

        font-size: .9rem;
        line-height: 1em;
        font-family: 'Open Sans', sans-serif;
    }

    &__TopicLabel {
        width: 100%;
        display: inline-block;
        padding: 10px 0 11px 0;

        font-size: 1rem;
        line-height: 1em;
        color: #5c5c5c;
    }

    &__Select {
        height: 50px;

        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;

        font-size: .9rem;
        line-height: 1em;
    }

    &__Textarea {
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;

        font-family: inherit;
        font-size: .9rem;
        line-height: 1em;

        resize: vertical;
    }

    &__Button {
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        transition: all 0.3 ease;
        cursor: pointer;

        font-size: .9rem;
        line-height: 1em;

        transition: background .2s;
    }

    &__Button:hover,
    &__Button:active,
    &__Button:focus {
        background: #43A047;
    }

    &__Successfully {
        text-transform: uppercase;
        outline: 0;
        width: 100%;
        border: 0;
        padding: 15px;

        box-sizing: border-box;

        font-size: .8rem;
        line-height: 1.4em;
        color: #4CAF50;
    }

    &__Error {
        text-transform: uppercase;
        outline: 0;
        background: #af4c4c;
        width: 100%;
        border: 0;
        padding: 15px;

        box-sizing: border-box;

        color: #FFFFFF;
        font-size: .9rem;
        line-height: 1em;

        transition: all 0.3 ease;

        transition: background .2s;
    }
}
