.Footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1em;

    background-color: hsla(206, 32%, 14%, 1);
    border-top: 5px solid hsla(205, 33%, 36%, 1);

    &__Blocks {
        text-align: center;
        color: #fff;
        padding: 32px 0 72px 0;

        @media (max-width: 1024px) {
            padding-top: 0;
        }

        &__Block {
            display: inline-block;
            vertical-align: text-top;
            padding: 0 30px;
            text-align: left;
            min-width: 150px;
            margin: 50px 0 0 0;

            @media (max-width: 1024px) {
                min-width: 270px;
                padding: 0 60px;
            }
            @media (max-width: 989px) {
                padding: 0 30px;
            }
            @media (max-width: 660px) {
                display: block;
                width: auto;
                text-align: center;
            }

            &__Title {
                font-weight: 400;
                font-size: 1rem;
                line-height: 1em;
                color: #fff;
                margin: 0 0 17px 0px;
                border-bottom: 1px solid #2e363d;
                padding-bottom: 15px;
            }
            &__List {
                margin: 0;
                padding: 0;
                list-style: none;

                &__Item {
                    font-weight: 200;
                    font-size: .9rem;
                    line-height: 1em;
                    margin: 10px 0;
                    color: #eeeeee;

                    &__Icon {
                        padding: 10px;
                        font-size: 1.2rem;
                        line-height: 1em;
                        color: #2485c9;
                        vertical-align: middle;
                    }
                    &__Link {
                        color: inherit;
                        text-decoration: none;
                        margin: 0 9px;
                    }
                }
            }
            &__Link {
                color: inherit;
                text-decoration: none;

                transition: color .2s;

                &:hover {
                    color: #badfff;
                }
            }
        }
    }

    &__License {
        margin: 0;
        padding: 10px 0 55px;
        text-align: center;
        color: #fff;
        font-size: 12px;
        line-height: 1.4em;
        font-weight: 100;
        letter-spacing: .3px;

        @media (max-width: 660px) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}