.TeamTab {
    &__Title {
        font-size: 2rem;
        line-height: 1.5em;
        text-align: center;
        background-color: #c66262;
        color: #fff;
        padding: 12px 0;
    }

    &__Team {
        padding: 0 0 15px 0;
        margin: auto;
        max-width: 1000px;
        text-align: center;

        &__Photo {
            width: 100%;
            max-width: 700px;
        }
    }

    &__Intro {
        font-size: 1rem;
        line-height: 1.5em;
        max-width: 700px;
        padding: 0 100px 0 100px;
        margin: 30px auto 0 auto;
        text-align: center;

        @media (max-width: 600px) {
            padding: 0 20px 0 20px;
        }
    }

    &__ListBox {
        &__List {
            padding: 20px 50px 70px 50px;
            list-style: none;
            margin: 0;

            @media (max-width: 600px) {
                padding: 0 20px 0px 20px;
            }

            &__Item {
                padding: 50px 0;
                margin: 0;
                text-align: center;

                &__Body {
                    max-width: 700px;
                    text-align: justify;
                    display: inline-block;

                    &__Head {
                        font-size: 1.5rem;
                        line-height: 1em;
                        padding: 0 0 30px 0;
                        text-align: center;

                        &__Before {
                            display: inline-block;
                            color: rgba(85, 94, 100, 0.5);
                            padding-right: 20px;
                            vertical-align: middle;
                        }
                        &__Center {
                            display: inline-block;
                            max-width: 70%;
                            vertical-align: middle;
                        }
                        &__After {
                            display: inline-block;
                            color: rgba(85, 94, 100, 0.5);
                            padding-left: 20px;   
                            vertical-align: middle;
                        }
                    }
                    &__Description {
                        font-size: 1rem;
                        line-height: 1.5em;
                        padding: 15px 0 0 0;
                    }
                    &__DescriptionList {}
                    &__DescriptionListItem {
                        font-size: 1rem;
                        line-height: 1.5em;
                        padding: 8px 0 8px 20px;
                        text-align: left;
                        margin: 0;

                        &:first-of-type {
                            margin-top: 22px;
                        }
                        &:last-of-type {
                            margin-bottom: 22px;
                        }

                        &:before {
                            content: '-';
                            padding-right: 15px;
                        }
                    }
                }
            }
        }
    }
}