.Technologies {
    position: relative;
    padding: 45px 0 0 0;
    background-color: hsla(206, 32%, 14%, 1);
    border-bottom: 5px solid hsla(205, 33%, 36%, 1);
    overflow: hidden;

    &__Title {
        text-align: center;
        font-size: 2.6rem;
        line-height: 1em;
        font-weight: 100;
        color: #72e2fb;
        margin: 0;

        text-shadow: -1px -1px 1px #0a141c, 1px -1.1px 1px #0a141c, -1px 1px 1px #0a141c, 1px 1px 1px #0a141c;

        position: relative;
        z-index: 2;
    }

    &__Clusterization {
        z-index: 1;
    }

    &__Box {
        display: flex;
        flex-flow: wrap row;
        justify-content: center;
        margin: 40px auto 34px auto;
        max-width: 1290px;

        position: relative;
        z-index: 2;

        &__Technology {
            width: 338px;
            margin: 20px 25px;
            padding: 20px;
            background-color: hsla(205, 32%, 17%, 0.94);
            border-radius: 10px;

            &__Title {
                font-size: 1.2rem;
                line-height: 1em;
                font-weight: 300;
                color: #fff;
                white-space: nowrap;

                padding-left: 36px;

                position: relative;

                &:before {
                    content: '';
                    background-repeat: no-repeat;
                    background-size: 24px;
                    width: 24px;
                    height: 24px;

                    position: absolute;
                    left: 0;
                    top: -2px;
                }
            }

            &.ClusterAnalysis & {
                &__Title:before {
                    background-image: url(/content/spa/images/icons/ic_extension_white_24dp_1x.png);

                    @media (-webkit-min-device-pixel-ratio: 2),
                           (min--moz-device-pixel-ratio: 2),
                           (min-resolution: 2dppx),
                           (min-resolution: 192dpi) {
                        background-image: url(/content/spa/images/icons/ic_extension_white_24dp_2x.png);
                    }
                }
            }
            &.Prediction & {
                &__Title:before {
                    background-image: url(/content/spa/images/icons/ic_timeline_white_24dp_1x.png);

                    @media (-webkit-min-device-pixel-ratio: 2),
                           (min--moz-device-pixel-ratio: 2),
                           (min-resolution: 2dppx),
                           (min-resolution: 192dpi) {
                        background-image: url(/content/spa/images/icons/ic_timeline_white_24dp_2x.png);
                    }
                }
            }
            &.Visualisation & {
                &__Title:before {
                    background-image: url(/content/spa/images/icons/ic_visibility_white_24dp_1x.png);

                    @media (-webkit-min-device-pixel-ratio: 2),
                           (min--moz-device-pixel-ratio: 2),
                           (min-resolution: 2dppx),
                           (min-resolution: 192dpi) {
                        background-image: url(/content/spa/images/icons/ic_visibility_white_24dp_2x.png);
                    }
                }
            }
            &.ChatBots & {
                &__Title:before {
                    background-image: url(/content/spa/images/icons/ic_face_white_24dp_1x.png);

                    @media (-webkit-min-device-pixel-ratio: 2),
                           (min--moz-device-pixel-ratio: 2),
                           (min-resolution: 2dppx),
                           (min-resolution: 192dpi) {
                        background-image: url(/content/spa/images/icons/ic_face_white_24dp_2x.png);
                    }
                }
            }
            &.Classification & {
                &__Title:before {
                    background-image: url(/content/spa/images/icons/ic_fingerprint_white_24dp_1x.png);

                    @media (-webkit-min-device-pixel-ratio: 2),
                           (min--moz-device-pixel-ratio: 2),
                           (min-resolution: 2dppx),
                           (min-resolution: 192dpi) {
                        background-image: url(/content/spa/images/icons/ic_fingerprint_white_24dp_2x.png);
                    }
                }
            }
            &.TimelineDB & {
                &__Title:before {
                    background-image: url(/content/spa/images/icons/ic_work_white_24dp_1x.png);

                    @media (-webkit-min-device-pixel-ratio: 2),
                           (min--moz-device-pixel-ratio: 2),
                           (min-resolution: 2dppx),
                           (min-resolution: 192dpi) {
                        background-image: url(/content/spa/images/icons/ic_work_white_24dp_2x.png);
                    }
                }
            }

            &__Description {
                font-size: 1rem;
                line-height: 1.35em;
                padding: 19px 0 0 0;
                font-weight: 100;
                color: rgba(255, 255, 255, 0.76);

                padding-left: 36px;
            }
        }
    }
}